<footer class="bg-greenNew ">
    <div class="grid grid-cols-3">
        <div class="m-24">
            <h1 class="h1 uppercase"> pepper shop </h1>
            <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam consequatur excepturi quisquam perferendis non, iure odio praesentium. Voluptas quisquam voluptatem perspiciatis reprehenderit aperiam suscipit, doloremque, ea vitae, ipsam tempore provident?</p>
        </div>

        <div class="mt-48 ml-32 text-white uppercase">
            <h5 class="font-semibold">products</h5>
            <ul class="text-left hover:cursor-pointer">
                <li class="hover:text-yellow-300">dairy</li>
                <li class="hover:text-yellow-300">veges</li>
                <li class="hover:text-yellow-300">fruits</li>
                <li class="hover:text-yellow-300">seafood</li>
            </ul>
        </div>

        <div class="mt-48 ml-32 text-white uppercase">
            <h5 class="font-semibold text-left">quick links</h5>
            <ul class="text-left hover:cursor-pointer">
                <li class="hover:text-yellow-300">about us</li>
                <li class="hover:text-yellow-300">blog</li>
                <li class="hover:text-yellow-300">career</li>
                <li class="hover:text-yellow-300">contact us</li>
            </ul>
        </div>
    </div>
    <p class="uppercase text-yellow-100 text-center">
        &copy; design and developed by falisha
       
</footer>
